.central::after 
{
    content: "";
    clear: both;
    display: block;
}
#header::after 
{
    content: "";
    clear: both;
    display: block;
}
div#leftColumn
{
	box-sizing: border-box;
	font-size: 10pt;
	float: left;
	width: 100%;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	text-align:left;
}
div#main
{
	box-sizing: border-box;
	float: left;
	width: 100%;
	padding:0px 15px 0px 15px;
	margin:0px;
}
div#rightColumn
{
	box-sizing: border-box;
	font-size: 10pt;
	float: left;
	width: 100%;
	margin: 0px;
	padding:0px 15px 0px 15px;
}

div#leftColumn a 
{
	box-sizing: border-box;
	display: block;
	text-decoration:none;  
	font-weight: bold;
	
	padding: 6px 3px 6px 13px;
    margin-bottom: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-top:1px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
    background-color: #F8F8F8;
    color: #555555;
}
div#leftColumn a:hover
{
	color: #555555;
	background-color:#AAAAAA;
	border-top:1px solid #A0A0A0;
	border-bottom:1px solid #A0A0A0;
}
div#header
{
	margin: 0;
	padding: 0px;
}
div#headerLeft
{
	display:none;
	padding: 0px;
	margin: 0px;
}
div#headerRight
{
	margin: 0;
	padding: 0px 0px 0px 13px;
	height: auto;
}
div.plusMinusSign
{
	float: right;
	margin: 0px;
	padding: 0px;
	display:none;
}
img.plusMinusSign
{
	margin:0px;
	padding:0px;
	border:none;
}
div.rightBox
{
	margin: 0;
	padding: 0;
}
div.rightBoxHeader
{
	padding:0;
	font-size: 12pt;
	margin: 15px 0 5px 0;
	font-weight:bold;
}
div.rightBoxMain
{
	margin: 0;
	padding: 0;
}
div.rightBoxMain hr
{
	display:none;
}

@media only screen and (min-width: 768px) 
{
	div#leftColumn
	{
		width: 15%;
		margin: 40px 0px 0 0;
		padding: 5px 0px 5px 0;
		border-right:1px solid #777777;
		text-align:right;
	}
	div#main
	{
		width: 65%;
		padding:0px 15px 15px 15px;
	}
	div#rightColumn
	{
		width: 20%;
		padding: 20px 5px 0px 0px;
	}
	
	div#leftColumn a 
	{
		padding: 3px 13px 3px 3px;
		margin:0px;
		box-shadow:none;
		border-top:1px solid #FFFFFF;  
		border-bottom:1px solid #FFFFFF;  
		background-color:#FFFFFF;  
		color: #000000;
	}
	div#leftColumn a:hover
	{
		color: #555555;
		background-color:#F8F8F8;
		border-top:1px solid #AAAAAA;
		border-bottom:1px solid #AAAAAA;
	}
	div#header
	{
		border-bottom: 1px solid #777777;
	}
	div#headerLeft
	{
		background-image: url("http://langmo.github.io/youscope/img/header.jpg");
		width:221px;
		height:100px;
		margin: 0;
		padding: 0;
		float: left;
		display:block;
	}
	div#headerRight
	{
		margin: 0;
		padding: 48px 0 0 0;
		text-align:right;
		vertical-align:bottom;
	}
	div.plusMinusSign
	{
		width:13px;
		height:13px;
		display:block;
	}
	div.rightBox
	{
		font-size: 10pt;
		margin: 5px 0px 5px 0px;
		padding: 0;
		border:1px solid #BBBBBB;
	}
	div.rightBoxHeader
	{
		margin:0;
		padding:3px 3px 3px 3px;
		color:#555555;
		font-size: 10pt;
		background:#eeeeee;
		font-weight:bold;
		border-bottom:1px dashed #BBBBBB;
	}
	div.rightBoxMain
	{
		display:block;
		font-size: 10pt;
		margin: 0;
		padding: 5px 5px 5px 5px;
	}
	div.rightBoxMain hr
	{
		display:block;
	}
}

body 
{
	color: black;
	background-color: #ffffff;
	font-family: Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0;
}
div#leftColumn ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
div#leftColumn li
{
	margin: 0;
	padding: 0px;
}

div.rightBox h3
{
	margin:5px 0px 0px 0px;
	padding:0;
	font-size: 10pt;
	font-weight:bold;
}
div.rightBox ul
{
	margin:0 0 0 20px;
	padding:0;
}
div.rightBox p
{
	margin:0px 0px 5px 0px;
	padding:0;
	font-size: 10pt;
}
div.rightBox li
{
	margin:0px 0px 0px 0px;
	padding:0;
	font-size: 10pt;
}
div.rightBox a 
{
	font-weight: bold;
	text-decoration:underline;
}
div.rightBox a:link
{
	color: #000000;
	text-decoration:underline;
}
div.rightBox a:visited
{
	color: #000000;
}
div.rightBox a:hover
{
	color: #555555;
	text-decoration:underline;
}
div.rightBox a:active
{
	color:#000000;
	text-decoration:underline;
}
div#main h1
{
	font-size: 14pt;
	margin: 15px 0 5px 0;
	font-weight:bold;
}
div#main h2
{
	font-size: 12pt;
	margin: 15px 0 5px 0;
	font-weight:bold;
}
div#main h3
{
	font-size: 10pt;
	margin: 15px 0 5px 0;
	font-weight:bold;
}
div#main p
{
	font-size: 10pt;
	margin: 5px 0 5px 0;
}
div#main li
{
	font-size: 10pt;
	margin: 5px 0 5px 0;
}
div#main a 
{
	font-weight: bold;
	text-decoration:underline;
}
div#main a:link
{
	color: #000000;
	text-decoration:underline;
}
div#main a:visited
{
	color: #000000;
}
div#main a:hover
{
	color: #555555;
	text-decoration:underline;
}
div#main a:active
{
	color:#000000;
	text-decoration:underline;
}

div#footer
{
	clear: both;
	height: 40px;
	font-size: 40px;
	margin: 20px 0 5px 0;
	padding: 0 5px 0 0;
	background-color: #FFFFFF;
	border-top: 1px dashed #AAAAAA;
}
div#footer p
{
	font-size: 8pt;
	color: #777777;
	margin: 5px 10px 0 5px;
}
div.post h3
{
	font-size: 12pt;
	margin: 5px 0 5px 0;
	padding: 0 20px 0 0;
	font-weight:bold;
}
div.post p
{
	font-size: 10pt;
	color: #555555;
	padding: 0px 0px 0px 20px;
	margin: 5px 0 5px 0;
}

div.figure
{
	float:left;
	margin:0px 10px 0px 0px;
	width:204px;
}
img.figure
{
	border:2px solid #000000;
	width:200px;
}
div.faq
{
	margin: 2px 2px 2px 17px;
	padding: 0px;
	display: none;
}
img.faq
{
	margin:0px;
	padding:0px 5px 0px 0px;
	border:none;
	width:12px;
	height:12px;
}