<div class="rightBox">
	 <div class="rightBoxHeader">
		   <div class="plusMinusSign"><a href="javascript:minimizeMaximize('downloadNow');"><img src="{{ site.github.url }}/img/minus.gif" class="plusMinusSign" id="downloadNow-plusMinus" /></a></div>
		   Download Now
	  </div>
	  <div class="rightBoxMain" id="downloadNow">
		   <p>Latest release: <br /><b>YouScope R2016 Beta 6</b></p>
		   <a href="https://github.com/langmo/youscope/releases/download/v2.0.0-beta.6/YouScope_64bit_Installer.exe">Windows XP, Vista, 7, 8, 10 (64bit)</a>
		   <br />
		   <a href="https://github.com/langmo/youscope/releases/download/v2.0.0-beta.6/YouScope_32bit_Installer.exe">Windows XP, Vista, 7, 8, 10 (32bit)</a>

		   <p>Latest stable build: <br /><b>YouScope R2016 Beta 5</b></p>
		   <a href="https://github.com/langmo/youscope/releases/download/v2.0.0-beta.5/YouScope_64bit_Installer.exe">Windows XP, Vista, 7, 8, 10 (64bit)</a>
		   <br />
		   <a href="https://github.com/langmo/youscope/releases/download/v2.0.0-beta.5/YouScope_32bit_Installer.exe">Windows XP, Vista, 7, 8, 10 (32bit)</a>
		   
		   <p>All options:</p>
		   <a href="https://github.com/langmo/youscope/releases" target="_blank">Download page</a> 
		   <br />
	  </div>
</div>
<div class="rightBox">
	<div class="rightBoxHeader">
		<div class="plusMinusSign">
			<a href="javascript:minimizeMaximize('citeNow');"><img src="{{ site.github.url }}/img/minus.gif" class="plusMinusSign" id="citeNow-plusMinus" /></a>
		</div>
		Cite YouScope
	</div>
	<div class="rightBoxMain" id="citeNow">
		<p>
			Lang, M., Rudolf, F., & Stelling, J. (2012).<br />
			Use of YouScope to Implement Systematic Microscopy Protocols.<br />
			<i>Current Protocols in Molecular Biology, 14-21.</i><br />
		</p>
		<p style="text-align:right;"><a href="{{ site.github.url }}/bibtex.bib" target="_blank">BibTeX</a>&nbsp;&nbsp;<a href="{{ site.github.url }}/endnote.enw" target="_blank">EndNote</a></p>
	</div>
</div>

<div class="rightBox">
	 <div class="rightBoxHeader">
			 <div class="plusMinusSign"><a href="javascript:minimizeMaximize('appwindow');"><img src="{{ site.github.url }}/img/minus.gif" class="plusMinusSign" id="appwindow-plusMinus" /></a></div>
			 Mode of Operation
	 </div>
	 <div class="rightBoxMain" id="appwindow">
			 <p>The following small interactive app exemplifies &ndash;in a simplified way&ndash; the interaction between the experimentalist and YouScope to set up a microplate measurement.</p>
			 <div style="position:relative;top:0px;left:0px;width:100%;height:160px;margin:0x;padding:0px;">
				 <div id="plate" style="position:absolute; top:110px;  left:10px;  z-index:30; border:0px; margin:0px;"><img src="{{ site.github.url }}/img/plate.gif" /></div>
				 <div id="scope" style="position:absolute; top:-2px; left:20px; z-index:40; border:0px; margin:0px;filter:Alpha(opacity=10, finishopacity=100, style=1, startx=49, starty=0, finishx=49, finishy=50);" ><img src="{{ site.github.url }}/img/scope.gif" /></div>
				 <div id="beam_blue" style="position:absolute; top:42px; left:56px; z-index:35; border:0px; margin:0px;visibility:hidden;filter:Wave(freq=5, lightstrength=10, phase=0, strength=2) Alpha(opacity=100, finishopacity=60, style=2);" ><img src="{{ site.github.url }}/img/beam_blue.gif" /></div>
				 <div id="beam_green" style="position:absolute; top:42px; left:56px; z-index:35; border:0px; margin:0px;visibility:hidden;filter:Wave(freq=5, lightstrength=10, phase=0, strength=2) Alpha(opacity=100, finishopacity=50, style=2);" ><img src="{{ site.github.url }}/img/beam_green.gif" /></div>
			 </div>
			 <h3>Measured Wells:</h3>
			 <p>(Click to activate/deactivate)</p>
			 <table class="plate">
				 <tr>
					 <td class="plate" id="well00" onmousedown="switchWellState(0,0)"></td>
					 <td class="plate" id="well10" onmousedown="switchWellState(1,0)"></td>
					 <td class="plate" id="well20" onmousedown="switchWellState(2,0)"></td>
					 <td class="plate" id="well30" onmousedown="switchWellState(3,0)"></td>
					 <td class="plate" id="well40" onmousedown="switchWellState(4,0)"></td>
					 <td class="plate" id="well50" onmousedown="switchWellState(5,0)"></td>
					 <td class="plate" id="well60" onmousedown="switchWellState(6,0)"></td>
					 <td class="plate" id="well70" onmousedown="switchWellState(7,0)"></td>
				 </tr>
				 <tr>
					 <td class="plate" id="well01" onmousedown="switchWellState(0,1)"></td>
					 <td class="plate" id="well11" onmousedown="switchWellState(1,1)"></td>
					 <td class="plate" id="well21" onmousedown="switchWellState(2,1)"></td>
					 <td class="plate" id="well31" onmousedown="switchWellState(3,1)"></td>
					 <td class="plate" id="well41" onmousedown="switchWellState(4,1)"></td>
					 <td class="plate" id="well51" onmousedown="switchWellState(5,1)"></td>
					 <td class="plate" id="well61" onmousedown="switchWellState(6,1)"></td>
					 <td class="plate" id="well71" onmousedown="switchWellState(7,1)"></td>
				 </tr>
				 <tr>
					 <td class="plate" id="well02" onmousedown="switchWellState(0,2)"></td>
					 <td class="plate" id="well12" onmousedown="switchWellState(1,2)"></td>
					 <td class="plate" id="well22" onmousedown="switchWellState(2,2)"></td>
					 <td class="plate" id="well32" onmousedown="switchWellState(3,2)"></td>
					 <td class="plate" id="well42" onmousedown="switchWellState(4,2)"></td>
					 <td class="plate" id="well52" onmousedown="switchWellState(5,2)"></td>
					 <td class="plate" id="well62" onmousedown="switchWellState(6,2)"></td>
					 <td class="plate" id="well72" onmousedown="switchWellState(7,2)"></td>
				 </tr>
			 </table>
			 <h3>Channels:</h3>
			 <form action="" style="padding:0;margin:0">
			 <ul>
				 <li><i>CFP</i>, Exposure: <select size="1" name="blueExposure" onchange="setExposure(0, this)" width="250">
					 <option value="0">Do not image</option>
					 <option value="10"> 10ms</option>
					 <option value="20"> 20ms</option>
					 <option value="30"> 30ms</option>
					 <option value="40"> 40ms</option>
					 <option value="50"> 50ms</option>
					 <option value="60"> 60ms</option>
					 <option value="70"> 70ms</option>
					 <option value="80"> 80ms</option>
					 <option value="90"> 90ms</option>
					 <option value="100" selected="selected">100ms</option>
					 <option value="200">200ms</option>
					 <option value="300">300ms</option>
					 <option value="500">500ms</option>
					 </select>
				 </li>
				 <li><i>GFP</i>, Exposure: <select size="1" name="greenExposure" onchange="setExposure(1, this)" width="250">
					 <option value="0" selected="selected">Do not image</option>
					 <option value="10"> 10ms</option>
					 <option value="20"> 20ms</option>
					 <option value="30"> 30ms</option>
					 <option value="40"> 40ms</option>
					 <option value="50"> 50ms</option>
					 <option value="60"> 60ms</option>
					 <option value="70"> 70ms</option>
					 <option value="80"> 80ms</option>
					 <option value="90"> 90ms</option>
					 <option value="100">100ms</option>
					 <option value="200">200ms</option>
					 <option value="300">300ms</option>
					 <option value="500">500ms</option>
					 </select>
				 </li>
			 </ul>
			 </form>
	 </div>
</div>