<div class="rightBox">
	 <div class="rightBoxHeader">
		   <div class="plusMinusSign"><a href="javascript:minimizeMaximize('downloadNow');"><img src="{{ site.github.url }}/img/minus.gif" class="plusMinusSign" id="downloadNow-plusMinus" /></a></div>
		   Download Now
	  </div>
	  <div class="rightBoxMain" id="downloadNow" style="display:block">
		   <p>Latest stable release: <br /><b>YouScope R2016</b></p>
		   <a href="https://github.com/langmo/youscope/releases/download/v2.0.0/YouScope_64bit_Installer.exe">Windows XP, Vista, 7, 8, 10 (64bit)</a>
		   <br />
		   <a href="https://github.com/langmo/youscope/releases/download/v2.0.0/YouScope_32bit_Installer.exe">Windows XP, Vista, 7, 8, 10 (32bit)</a>
		   <br /><br />
				   <p>Latest pre-release: <br /><b>YouScope R2017 Beta 1</b></p>
		   <a href="https://github.com/langmo/youscope/releases/download/v2.1.0-beta.1/YouScope_64bit_Installer.exe">Windows XP, Vista, 7, 8, 10 (64bit)</a>
		   <br />
		   <a href="https://github.com/langmo/youscope/releases/download/v2.1.0-beta.1/YouScope_32bit_Installer.exe">Windows XP, Vista, 7, 8, 10 (32bit)</a>
		   
		   <p>All options:</p>
		   <a href="https://github.com/langmo/youscope/releases" target="_blank">Download page</a> 
		   <hr />
		   <div id="mostRecentReleases"></div>
	  </div>
</div>
<div class="rightBox">
	<div class="rightBoxHeader">
		<div class="plusMinusSign">
			<a href="javascript:minimizeMaximize('citeNow');"><img src="{{ site.github.url }}/img/minus.gif" class="plusMinusSign" id="citeNow-plusMinus" /></a>
		</div>
		Cite YouScope
	</div>
	<div class="rightBoxMain" id="citeNow" style="display:block">
		<p>
			Lang, M., Rudolf, F., & Stelling, J. (2012).<br />
			Use of YouScope to Implement Systematic Microscopy Protocols.<br />
			<i>Current Protocols in Molecular Biology, 14-21.</i><br />
		</p>
		<p style="text-align:right;"><a href="{{ site.github.url }}/bibtex.bib" target="_blank">BibTeX</a>&nbsp;&nbsp;<a href="{{ site.github.url }}/endnote.enw" target="_blank">EndNote</a></p>
	</div>
</div>
