<div class="rightBox">
	 <div class="rightBoxHeader">
		   <div class="plusMinusSign"><a href="javascript:minimizeMaximize('downloadNow');"><img src="{{ site.github.url }}/img/minus.gif" class="plusMinusSign" id="downloadNow-plusMinus" /></a></div>
		   Download Now
	  </div>
	  <div class="rightBoxMain" id="downloadNow" style="display:block">
		   <div id="mostRecentReleases"></div>
		   <p style="font-weight:bold">All options:</p>
		   <a href="{{ site.github.url }}/download.html">Download page</a> 		   
	  </div>
</div>
<div class="rightBox">
	<div class="rightBoxHeader">
		<div class="plusMinusSign">
			<a href="javascript:minimizeMaximize('citeNow');"><img src="{{ site.github.url }}/img/minus.gif" class="plusMinusSign" id="citeNow-plusMinus" /></a>
		</div>
		Cite YouScope
	</div>
	<div class="rightBoxMain" id="citeNow" style="display:block">
		<p>
			Lang, M., Rudolf, F., & Stelling, J. (2012).<br />
			Use of YouScope to Implement Systematic Microscopy Protocols.<br />
			<i>Current Protocols in Molecular Biology, 14-21.</i><br />
		</p>
		<p style="text-align:right;"><a href="{{ site.github.url }}/bibtex.bib" target="_blank">BibTeX</a>&nbsp;&nbsp;<a href="{{ site.github.url }}/endnote.enw" target="_blank">EndNote</a></p>
	</div>
</div>
